.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.textoFrase{
    font-style: italic;
    color: #DD7B22;
    text-align: center;
}

.btn{
    margin-top: 40px;
    width: 230px;
    height: 50px;
    font-size: 18px;
    color: #dd7b22;
    border-radius: 25px;
    border-color: #dd7b22;
    background-color: white;
}